__pycache__/
*.pyc
.ipynb_checkpoints/
.env
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
artifacts/models/*.pt
artifacts/evaluations/*.csv
artifacts/figures/*
artifacts/evaluations/stage_dfs
artifacts/evaluations/stage_dfs/*.csv
!artifacts/figures/gradcam
!artifacts/figures/gradcam/*
!artifacts/figures/gradcam_disk
!artifacts/figures/gradcam_disk/*
!artifacts/figures/.gitkeep